body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.logo {
    max-width: 10%;
}
.db {
    max-width: 50%;
}
button {
    min-width: 10rem;
    border-radius: 1.5rem;
    border: none;
    margin-left: 2rem;
    padding: 1rem;
}
input {
    border-radius: 1.5rem;
    min-width: 20rem;
    border: 1px solid grey;
    text-align: left;
    padding: 1rem;
}

form {
    display: flex;
    margin-bottom: 5rem;
}